<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/819c4780a4.js" crossorigin="anonymous"></script>
  <title>Weather API</title>
</head>
<body>
  <div id="container"></div>

  <form id="form">
    <div class="form-group">
      <input type="text" placeholder="Enter Location" id="location">
      <input type="submit" value="Search">
    </div>
  </form>
</body>
</html>